# Backend API URL (for client-side fetch via proxy)
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend API URL (for server-side fetch direct)
# APPVRM_API_GATEWAY_AUTH=http://your-internal-backend:8000

# API Key for authentication (if required)
NEXT_PUBLIC_API_KEY=your_api_key_here

# Toggle Mock Mode for UI Development
NEXT_PUBLIC_IS_MOCK_MODE=true
